archive
genome_Heather_Zurel_v4_Full_20211025042907.txt
genome_Heather_Zurel_v4_Full_20211025042907.zip
zeather_filtered*
zeather_genome*
zeather_tg.bed
zeather_tg_norels*
.R*
*tar.gz*
where-in-the-world.Rproj
1000g/1kg_phase1_all.*
1000g/20141020.strict_mask.whole_genome.bed
1000g/main_hg38_noannot.pvar.zst
tg_filtered.bed
*~
